<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <%- include('./../../partials/home/seo'); %>
    <%- include('./../../partials/home/styles'); %>
    <title>صفحه اصلی-شایان نیکزاد</title>
</head>

<body class="body-home">
    <%- include('./../../partials/home/nav'); %>


    <h1>تک اخبار</h1>



    <%- include('./../../partials/home/footer'); %>
    <%- include('./../../partials/home/scripts'); %>
</body>

</html>