<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <%- include('./../../../partials/home/seo'); %>
    <%- include('./../../../partials/home/styles'); %>
    <title>صفحه اصلی-شایان نیکزاد</title>
</head>

<body>
    <%- include('./../../../partials/home/nav'); %>


    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="https://shayannikzad.ir/">صفحه نخست</a></li>
                    <li><a href="https://shayannikzad.ir/videos">فیلم ها</a></li>
                    <li><%= video.title%></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="page-content page-news-view">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="post-view-box page-des">
                        <div class="video">
                            <% let i = Date.now(); %>
                            <div id="<%= i %>"><script type="text/JavaScript" src="https://www.aparat.com/embed/<%= video.videoId%>?data[rnddiv]=<%= i %>&data[responsive]=yes"></script></div>
                        </div>
                        <div class="date"><%= video.date %></div>
                        <h1 class="title"><%= video.title%></h1>   
                        <p><%= video.description %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <%- include('./../../../partials/home/footer'); %>
    <%- include('./../../../partials/home/scripts'); %>
</body>

</html>